body.dark-mode {
  background-color: #222 !important;
  color: #fff !important;
}

.todo-list.dark-mode {
  background-color: #333 !important;
}

.todo-item.dark-mode {
  background-color: #444 !important;
  color: #888 !important;
  text-decoration: line-through !important;
}
